<div class="card">
  <!-- <div class="card-header">Header</div> -->
  <div class="card-body"><img src="assets\imgs\pro.jfif" class="img-fluid" alt="Responsive image" style="border-radius: 50% !important;
      overflow: hidden; height:13vw; width:13vw; border: 2px solid #eeeeee; margin-top:35px" align="center">
  </div>
  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card-footer">
        <h5 class="text-secondary">Name: <i>{{userName}}</i>

        </h5>
        <h5 class="text-secondary">Id: <i>19306 </i>

        </h5>
      </div>
    </div>
  </div>
</div>