
<div class="card" style="margin-top: 20px;">
    <h5 class="card-header text-success">Create Reward Points</h5>
    <div class="card-body ">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">

            <div class="form-group col-4">
                <label>violationType</label>

                <select class="form-select" formControlName="violationType" (change)="onChange($event.target.value)"
                    [(ngModel)]="selectedLevel" class="form-control">
                    <option disabled selected value="">Select your option</option>
                    <option *ngFor="let item of getViolationTypes" [ngValue]="item">
                        {{item.name}}
                    </option>
                </select>

            </div>

            <div class="form-group col-4">
                <label>Violation ID</label>
                <input type="text" formControlName="violationTypeId" class="form-control"
                    [ngModel]="selectedLevel.violationTypeId" disabled>
            </div>
            <div class="form-group col-4">
                <label>points</label>
                <input type="text" formControlName="points" class="form-control">

            </div>
            <div class="form-group col-4">
                <button class="btn btn-primary mr-1">Update</button>
            </div>
            <!-- <h6 class="text-danger">{{errorMsg}}</h6> -->

            <!-- <select class="form-control" #t (change)="callType($event)">
                    <option *ngFor="let type of getViolationTypes" [value]="type">{{type.name}}</option>
                  </select> -->


        </form>
        <!-- <select (change)="onSelect($event.target.value)" [(ngModel)]="selectedCountry.violationTypeId">
                <option *ngFor="let country of getViolationTypes" value= {{country.violationTypeId}}>
                   {{country.name}}
                </option>
              </select>
              <br/>
              Selected Country ID: {{selectedCountry.violationTypeId}} & Name: {{selectedCountry.name}} -->
    </div>
</div>
<table class="table table-hover bg-light mt-3">
    <thead>
        <tr class="text-secondary">
            <th>Violation Type</th>
            <th>ViolationTypeId</th>
            <th>points</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let view of getBaseRewards">
            <td>{{view.violationType}}</td>
            <td>{{view.violationTypeId}}</td>
            <td>{{view.points}}</td>
            <td><button type="button" class="btn btn-info" (click)="edit(view)" data-toggle="modal"
                data-target="#myModal">Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click)="delete(view)">Delete</button></td>


            <!-- <td><button class="btn btn-info">Details</button></td> -->
        </tr>
    </tbody>
</table>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Violation Type</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form [formGroup]="myform" (ngSubmit)="onSubmit(myform.value)">
          <div class="row">
            <div class="col-sm-8">
              <label>points</label>
              <input type="text"  formControlName="points" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <label>rewardId</label>
              <input type="text" formControlName="rewardId" class="form-control" >
            </div>
          </div><br>
          <div class="row">
            <div class="col-sm-8">
              <label></label>
              <button type="button" class="btn btn-info" (click)="upDate()">Update</button>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>