<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="card card-body">
            <span class="text-info" [routerLink]="['pending']" routerLinkActive="active">Total Pending Issues
                <p  class="badge badge-info" >4{{totalCount.count}}</p>
            </span>

        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="card card-body">
            <span class="text-success" [routerLink]="['approved']">Total Approved Issues
                <p class=" badge badge-success">{{approvedCounts}}</p>
            </span>
        </div>
    </div>
    <div class=" col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="card card-body">
            <span class="text-primary" [routerLink]="['totalIssues']">Total Number of Issues
                <p class="badge badge-primary">50</p>
            </span>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="card card-body">
            <span class="text-danger" [routerLink]="['rejected']">Total Rejected Issues
                <p class="badge badge-danger">4</p>
            </span>
        </div>
    </div>
</div>
{{name}}
<router-outlet></router-outlet>