
  <nav class="navbar navbar-expand-lg navbar-light ">
      <img src="assets\imgs\traffic3.jpg" class="img-fluid" alt="Responsive image" style="border-radius: 50% !important;
      overflow: hidden; height:110px; width:12-10px; border: 2px solid #fff;" class="nav-link" align="center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active text-info">
              <p class="nav-link text-info">Traffic Sudharo</p>
          </li>
          <li class="nav-item">
           
          </li>
          <li class="nav-item">
          
          </li>
        </ul>
        <div class="nav-item">
            <button type="button" class="btn">
            <span class="fa fa-bell nav-link text-secondary "  aria-hidden="true"> <b class="text-danger"> 15</b> Notifications</span> 
            
            </button>
            <!-- <a class="fa fa-bell nav-link text-secondary">
               
                <span class="num" >8</span>
              </a> -->
        </div>
        <span class="navbar-text">
            <!-- <span class="fa fa-bell" aria-hidden="true"></span>Notifications -->
           
            <div class="dropdown">
                
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="fas fa-user text-secondary" aria-hidden="true"> My Account</span> 
                 
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" >Profile</a>
                <a class="dropdown-item"  (click)="logout()">Logout</a>
              </div>
            </div>
          </span>
 
      </div>
    </nav>